.quoteBox {
    display: flex;
    width: 90%;
    background: white;
    border: 1px solid black;
    border-radius: 1.25em;
    flex-wrap: wrap;
    color: black;
    justify-content: center;
    padding: 5px;
    text-shadow: none;
    margin: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

.imgContainer {
    width: 80%;
}

.subtitle {
    width: 100%;
    text-align: center;
}

}